<nav
  class="
    fixed
    bottom-0
    inset-x-0
    bg-gray-100
    flex
    justify-between
    text-sm text-red-900
    uppercase
  "
>
  <a
    href="#"
    class="
      w-full
      block
      py-5
      px-3
      text-center
      hover:bg-red-200
      hover:text-red-800
      transition
      duration-300
    "
    >My Trips</a
  >

  <a
    href="/profile"
    class="
      w-full
      block
      py-5
      px-3
      text-center
      hover:bg-red-200
      hover:text-red-800
      transition
      duration-300
    "
    >Profile</a
  >

  <a
    href="/logout"
    class="
      w-full
      block
      py-5
      px-3
      text-center
      hover:bg-red-200
      hover:text-red-800
      transition
      duration-300
    "
    >Logout</a
  >
</nav>
