<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body class="bg-gray-300 font-Poppins px-8">
    <div class="h-44 mx-auto rounded bg-gray-700 mt-8"></div>
    <div class="rounded bg-gray-300 mx-auto mt-32 flex items-center flex-col">
      <div class="mx-auto w-full">
        <a
          href="/login"
          class="
            block
            text-lg
            hover:bg-red-500
            bg-red-700
            text-white
            rounded-lg
            shadow-lg
            text-center
            py-4
            mx-auto
          "
          >Login</a
        >
      </div>
      <div class="mx-auto w-full">
        <a
          href="/signup"
          class="
            block
            text-lg
            hover:bg-red-500
            bg-red-700
            text-white
            rounded-lg
            shadow-lg
            text-center
            py-4
            mx-auto
            mt-8
          "
          >Signup</a
        >
      </div>
    </div>
  </body>
</html>
