<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body class="container bg-black font-Poppins">
    <div class="h-64 w-64 rounded bg-white mx-auto mt-8">
      <img />
    </div>
    <div class="rounded bg-black mx-auto mt-32 flex items-center flex-col">
      <div class="mx-auto">
        <a
          href="#"
          class="
            block
            h-14
            w-60
            text-lg
            hover:bg-red-500
            bg-red-700
            text-white
            rounded-lg
            shadow-lg
            text-center
            py-4
            mx-auto
          "
          >Login</a
        >
      </div>
      <div class="mx-auto">
        <a
          href="#"
          class="
            block
            h-14
            w-60
            text-lg
            hover:bg-red-500
            bg-red-700
            text-white
            rounded-lg
            shadow-lg
            text-center
            py-4
            mx-auto
            mt-8
          "
          >Signup</a
        >
      </div>
    </div>
  </body>
</html>
